// Deal Carousel styles

.carousel-container {
  background: #f1f1f1;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  color: #FAECE2;
  margin-top: 10px;

  .carousel-item {
    height: 10em;
    min-width: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(.39, .575, .565, 1);
    background-image: url("https://zappys-washes-s3-bucket.s3.amazonaws.com/Cover%20Image%20-%201080x1920.png?AWSAccessKeyId=AKIA6OF7CZDJM3CZH36B&Expires=1767165610&Signature=tHh8dOUQxpP0SFy8sOolYuOAzwE%3D");
    background-repeat: no-repeat;
    background-size: cover;
    max-height: max-content;

    @media screen and (max-width: 450px) {
      max-height: 250px;
    }
  }
}
